language: sh

os:
  - linux
  - osx

before_install: command -v brew >/dev/null 2>&1 || < /dev/null ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install)" && PATH="$PATH:$HOME/.linuxbrew/bin"

script: make
